body {
    font-family: serif;
    color: black;
    background-color: #faf3c1;
    text-align: left;
    flex-basis: 300px;
}
h1 {
    text-align: center;
}    
h2 {
    text-decoration: underline;
}
h3 {
    text-align: left;
}
p {
    color: gray;
}
