body {
    font-family: serif;
    color: black;
    background-color: #f8f6e7;
    text-align: left;
    column-count: 2;
}
img {
    width: 286;
    height: 224;
}
h1 {
    text-align: center;
}    
h3 {
    text-decoration: underline;
}
h4 {
    text-align: left;
}
p {
    color: gray;
}
