body {
    font-family: serif;
    color: green;
    background-color: white;
    text-align: center;
}
h1 {
    text-decoration: underline;
}
h3 {
    text-indent: 25px;
    text-align: left;
}
ul {
    text-align: left;
}
p {
    color: brown;
}
